:root {
  --bg-color: #f4f4f4;
  --text-color: #333;
  --header-bg: #333;
  --header-text: #fff;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

ul, li, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

header {
  font-size: 18px;
  display: block;
  background-color: rgb(28, 22, 22);
  color: white;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--bg-color);
  text-align: center;
}

.cover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: auto;
  min-height: 60vh;
  overflow: hidden;
  position: relative;
}

.cover-image {
  position: absolute;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}

#text1 {
  font-size: 15px;
}

article {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 20px;
}

.section1, .section2, .section3, .section4 {
  padding: 10px;
  margin: 20px;
  border: 1.5px solid black;
  border-radius: 5%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#omOss, #våraMål, #lorem1, #lorem2 {
  color: var(--text-color);
}

p {
  color: var(--text-color);
  font-size: 1.1rem;
  margin: 10px 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.product-section-title {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  height: 100%;
  position: relative;
}

.product-image-container {
  flex: 0 0 350px;
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.card-image-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-image-link > img {
  width: 100%;
  object-fit: contain;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.product-description {
  font-size: 16px;
  line-height: 1.6;
}

.buy-button {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  margin-top: auto;
  background-color: rgb(56, 42, 42);
  color: white;
}
.contact-info {
  margin: 50px;
  min-height: 100vh;
}

.site-footer p {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  bottom: 0;
  flex-shrink: 0;
  padding: 30px;
}

/* for tablets */
@media (min-width: 481px) and (max-width: 1024px) {

  header {
    font-size: 20px;
  }

  main {
    flex-direction: column;
    font-size: 18px;
  }

  img {
    width: 100%;
  }

  .cover {
    min-height: 70vh;
  }

  #text1 {
    font-size: 25px;
    margin-top: 20px;
  }

  article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    margin: 20px;
  }

  #p1, #p2, #p3, #p4 {
    font-size: 20px;
  }

  button {
    font-size: 16px;
    width: 155px;
    padding: 5px;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .product-title {
    font-size: 22px;
  }

  .product-description {
    font-size: 18px;
  }
}

/* for desktops */
@media (min-width: 1025px) {

  header {
    font-size: 22px;
  }

  .cover {
    min-height: 80vh;
  }

  main {
    flex-direction: column;
    font-size: 22px;
  }

  img {
    width: 100%;
  }

  #text1 {
    font-size: 30px;
    margin-top: 30px;
  }

  article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #p1, #p2, #p3, #p4 {
    font-size: 22px;
  }

  button {
    font-size: 22px;
    width: 200px;
    padding: 8px;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  .product-title {
    font-size: 24px;
  }

  .product-description {
    font-size: 18px;
  }
}

/* TILLÄGG FÖR MÖRKT LÄGE */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #f0f0f0;
    --header-bg: #222;
    --header-text: #fff;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  header {
    background-color: var(--header-bg);
    color: var(--header-text);
  }

  nav ul li a {
    color: #fff;
  }

  .section1, .section2, .section3, .section4 {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  footer {
    background-color: var(--header-bg);
    color: var(--header-text);
  }

  #omOss, #våraMål, #lorem1, #lorem2 {
    color: var(--text-color);
  }

  p {
    color: var(--text-color);
  }
}
