/* Общие стили */
html, body {
  font-size: 13px;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 5fr;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  font-size: 15px;
  height: 135px;
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#text1{
  font-size: 15px;
}

button{
  width: 115px;
  padding: 2px;
  margin: 15px;
  font-size: 12px;
}

article{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 20px;
}

.section1, .section2, .section3, .section4{
  padding: 10px;
  margin: 20px;
  border: 1.5px solid black;
  border-radius: 5%;
}

#omOss, #våraMål, #lorem1, #lorem2{
  color: black;
}

h1, h2 {
  color: white;
}

p {
  color: #555;
  font-size: 1.1rem;
  margin: 10px 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
  bottom: 0;
  flex-shrink: 0;
}


@media (min-width: 320px) {

  body{
    font-size: 15px;
  }

  main {
      flex-direction: column;
  }

  #p1, #p2, #p3, #p4{
    font-size: 15px;
  }

  img{
    width: 100%;
  }
}

@media (min-width: 768px) {

  header{
    font-size: 20px;
    height: 155px;
  }

  main{
    flex-direction: column;
    font-size: 18px;
  }

  img{
    width: 100%;
  }

  .hero{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #text1{
    font-size: 25px;
    margin-top: 20px;
  }

  article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    margin: 20px;
  }

  #p1, #p2, #p3, #p4{
    font-size: 20px;
  }

  button{
    font-size: 16px;
    width: 155px;
    padding: 5px;
  }

}

@media (min-width: 1024px) {

  header{
    font-size: 30px;
    height: 225px;
  }

  main{
    flex-direction: column;
    font-size: 22px;
  }

  img{
    width: 100%;
  }

  #text1{
    font-size: 30px;
    margin-top: 30px;
  }
  
  article{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #p1, #p2, #p3, #p4{
    font-size: 22px;
  }

  button{
    font-size: 22px;
    width: 200px;
    padding: 8px;
  }
}