/* Общие стили */
html, body {
  height: 100%; /* Устанавливаем 100% высоту для html и body */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh; /* Обеспечиваем, что body занимает всю высоту экрана */
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  flex: 1; /* Это позволяет main растягиваться и заполнять пространство между header и footer */
  padding: 20px;
  text-align: center; /* Центрируем текст на странице */
}

h1, h2 {
  color: #333;
}

p {
  color: #555;
  font-size: 1.1rem;
  margin: 10px 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  flex-shrink: 0; /* Гарантируем, что футер не сожмется и всегда будет внизу */
}

/* Адаптивные стили */
@media (min-width: 768px) {
  main {
      max-width: 600px;
      margin: 0 auto; /* Центрируем контент на больших экранах */
  }
}
